[Unit]
Description=Apache Web Server
Requires=etcd.service
Requires=docker.service
Requires=mysqld.service

After=etcd.service
After=docker.service
After=mysqld.service
Before=ApacheDiscovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill Apache%i
ExecStartPre=-/usr/bin/docker rm Apache%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/apache
ExecStart=/usr/bin/docker run -p 80:80 -p 443:443 -p 5422:22 -e IPADDR=${COREOS_PRIVATE_IPV4} --name Apache%i htmlgraphic/apache
ExecStop=/usr/bin/docker stop Apache%i
Restart=always

[X-Fleet]
Conflicts=Apache@*.service
MachineMetadata=host=coreos53