[Unit]
Description=MySQL Instance
Requires=etcd.service
Requires=docker.service

After=etcd.service
After=docker.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill mysqld
ExecStartPre=-/usr/bin/docker rm mysqld
ExecStartPre=/usr/bin/docker pull htmlgraphic/mysqld
# /var/lib/mysql is linked to stateless data container, currently can't --volumes-from across cluster via fleet.
ExecStart=/usr/bin/docker run -p ${COREOS_PUBLIC_IPV4}:3306:3306 --volumes-from db-data --name mysqld htmlgraphic/mysqld
ExecStop=/usr/bin/docker stop mysqld
Restart=always

[X-Fleet]
Conflicts=mysqld.service
MachineMetadata=host=coreos63
