[Unit]
Description=Announce MySQL Discovery Service
BindsTo=mysqld.service

[Service]
EnvironmentFile=/etc/environment

## Test whether service is accessible and then register useful information
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:%i; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/mysql/${COREOS_PRIVATE_IPV4} \'{"host": "%H", "ipv4_addr": ${COREOS_PRIVATE_IPV4}, "port": 3306 }\' --ttl 30; \
    else \
      etcdctl rm /services/mysql/${COREOS_PRIVATE_IPV4}; \
    fi; \
    sleep 20; \
  done'

# Stop
ExecStop=/usr/bin/etcdctl rm /services/mysql/${COREOS_PRIVATE_IPV4}

[X-Fleet]
MachineOf=mysqld.service