[Unit]
Description=Announce MySQL Discovery Service
BindsTo=mysqld.service

[Service]
EnvironmentFile=/etc/environment

## Test whether service is accessible and then register useful information
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PRIVATE_IPV4}:3306; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/mysqld \'${COREOS_PRIVATE_IPV4}\' --ttl 30; \
    else \
      etcdctl rm /services/mysqld; \
    fi; \
    sleep 20; \
  done'

# Stop
ExecStop=/usr/bin/etcdctl rm /services/mysqld

[X-Fleet]
MachineOf=mysqld.service