[Unit]
Description=Announce Postfix@%i mail service
BindsTo=Postfix@%i.service


[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/bash -c '\
  while true; do \
    curl -f ${COREOS_PUBLIC_IPV4}:25; \
    if [ $? -eq 0 ]; then \
      etcdctl set /services/postfix/${COREOS_PUBLIC_IPV4} \'{"host": "%H", "ipv4_addr": ${COREOS_PUBLIC_IPV4}, "port": 25}\' --ttl 30; \
    else \
      etcdctl rm /services/postfix/${COREOS_PUBLIC_IPV4}; \
    fi; \
    sleep 20; \
  done'
ExecStop=/usr/bin/etcdctl rm /services/postfix/${COREOS_PUBLIC_IPV4}

[X-Fleet]
MachineOf=Postfix@%i.service