[Unit]
Description=Postfix mail service

Requires=etcd.service
Requires=docker.service
Requires=PostfixDiscovery@%i.service

After=etcd.service
After=docker.service
Before=PostfixDiscovery@%i.service


[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill Postfix.%i
ExecStartPre=-/usr/bin/docker rm Postfix.%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/postfix:latest
ExecStart=/usr/bin/docker run -p ${COREOS_PUBLIC_IPV4}:25:25 --name Postfix.%i -e USER=x -e PASS=x -e HOSTNAME=post-office.htmlgraphic.com htmlgraphic/postfix:latest
ExecStop=/usr/bin/docker stop Postfix.%i
Restart=always

[X-Fleet]
Conflicts=Postfix@*.service
MachineMetadata=size=512mb