[Unit]
Description=Apache web service

Requires=etcd.service
Requires=docker.service
Requires=mysqld.service
Requires=ApacheLinkDiscovery@%i.service

After=etcd.service
After=docker.service
After=mysqld.service
Before=ApacheLinkDiscovery@%i.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill ApacheLink.%i
ExecStartPre=-/usr/bin/docker rm ApacheLink.%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/apache:1.1.0

ExecStart=/usr/bin/bash -c "/usr/bin/docker run -p ${COREOS_PUBLIC_IPV4}:80:80 \
-p ${COREOS_PUBLIC_IPV4}:443:443 --volumes-from www-data1 --name ApacheLink.%i \
--link mysqld:mysql \
-e USER=`/usr/bin/etcdctl get /service/mail/postfix_user` \
-e PASS=`/usr/bin/etcdctl get /service/mail/postfix_pass` \
-e IPADDR=${COREOS_PRIVATE_IPV4} \
htmlgraphic/apache:1.1.0"

ExecStop=/usr/bin/docker stop ApacheLink.%i
Restart=always

[X-Fleet]
Conflicts=Apache@*.service
MachineMetadata=host=coreos63