[Unit]
Description=Postfix mail service

Requires=etcd.service
Requires=docker.service
Requires=PostfixDiscovery@%i.service

After=etcd.service
After=docker.service
Before=PostfixDiscovery@%i.service


[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill Postfix.%i
ExecStartPre=-/usr/bin/docker rm Postfix.%i
ExecStartPre=/usr/bin/docker pull htmlgraphic/postfix
ExecStart=/usr/bin/docker run -p 25:25 \
-e USER=`etcdctl get /service/mail-loopback/postfix_user` \
-e PASS=`etcdctl get /service/mail-loopback/postfix_pass` \
-e LOG_TOKEN=`etcdctl get /service/mail-loopback/%H/logentriestoken` \
-e HOSTNAME=post-office.htmlgraphic.com --name Postfix.%i \
htmlgraphic/postfix
ExecStop=/usr/bin/docker stop Postfix.%i
Restart=always

[X-Fleet]
Conflicts=Postfix@*.service
MachineMetadata=host=coreos56
MachineMetadata=host=coreos55
MachineMetadata=host=coreos53
